<app-page-header
  heading="Introduction"
  description="Pattern libraries help designers and developers maintain a project‘s intended design."></app-page-header>

<section class="main-content introduction">
  <div class="main-content__wrapper">
    <app-page-content>
        <p>Welcome! If you‘re reading this in your browser, then hopefully, you‘re set up and ready to go. Here‘s what you want to do next.</p>

        <ol>
          <li>Replace this introductory content with your own.</li>
          <li>Customize the Sass variables and styles.</li>
          <li>Add your own components and pages.</li>
        </ol>
    </app-page-content>
  </div>
</section>
