# OS
*.DS_Store

# Compiled Output
.sass-cache
node_modules
/.tmp
/dist

# Development testing files
/rpl-src/dist/assets/rpl-assets
/rpl-src/dist/assets/user-assets
/rpl-src/src/assets/rpl-assets
/rpl-src/src/assets/user-assets

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
