# OS
*.DS_Store

# Compiled Output
.sass-cache
node_modules
/.tmp
/dist
/css
/pattern-lib/src/assets/ext

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
