/* -- Page Header Styles -- */

.page-header {
  padding-top: var(--page-padding, 1.4rem);
  padding-bottom: calc(var(--page-padding, 1.4rem) - var(--font-size-x-small, 12px) / 2);
  border-bottom: 1px solid var(--color-neutral-80, #ccc);
  color: var(--color-neutral-45, #777);
  background-color: var(--color-neutral-97, #f7f7f7);
}

.page-header__wrapper {
  margin: 0 auto;
  padding-right: var(--page-gutter, 2rem);
  padding-left: var(--page-gutter, 2rem);
  max-width: var(--page-max-width, 1120px);
}

.page-header__heading {
  margin: 0;
  color: var(--color-brand-primary, #363669);
}

.page-header__group {
  display: block;
  text-transform: uppercase;
  font-family: var(--font-family-body, 'Hind Guntur');
  font-weight: var(--font-weight-normal, 400);
  font-size: var(--font-size-x-small, 12px);
  line-height: calc(var(--font-line-height-x-small, 20px) / 2);
}

.page-header__description p {
  margin-top: .5em;
}

.page-header__description > :last-child {
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .page-header {
    margin-top: calc(var(--page-padding, 1.4rem) * -1 - 1px);
  }

  .page-header__heading,
  .page-header__description {
    width: calc(100% - var(--page-min-width, 320px) - var(--page-gutter, 2rem));
  }
}
