/* -- Type List Item Styles -- */

.type-list__item {
  overflow: hidden;
}

.type-list__item-header {
  margin-bottom: calc(var(--page-gutter, 2rem) / 2) !important;
  padding-bottom: calc(var(--page-gutter, 2rem) / 8) !important;
  border-bottom: 1px solid var(--color-neutral-80, #ccc) !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  font-family: var(--font-family-body, 'Hind Guntur') !important;
}

.type-list__item-heading {
  margin-right: calc(var(--page-gutter, 2rem) / 4) !important;
}

.type-list__item-meta {
  white-space: nowrap !important;
  font-size: var(--font-size-x-small, 12px) !important;
  color: var(--color-neutral-45, #777) !important;
}
