/* -- Header Styles -- */

.app-header {
  color: var(--color-white);
  background-color: var(--color-brand-primary);
}

.app-header__wrapper {
  position: relative;
  margin: 0 auto;
  padding-right: var(--page-gutter);
  padding-left: var(--page-gutter);
  max-width: var(--page-max-width);
}

.app-header__heading {
  margin: 0;
  height: var(--logo-height);
  font-size: 1.4em;
  font-weight: var(--font-weight-regular);
}

.app-header a {
  text-decoration: none;
  color: var(--color-white);
}

.app-header__logo {
  position: absolute;
  top: 0;
  left: 0;
}

.app-header__name {
  display: inline-block;
  position: relative;
  top: calc(var(--logo-height) / 2);
  transform: translate(55px, -25%);
}

.app-header__nav-trigger {
  --hamburger-width: 26px;
  --hamburger-bar-height: 5px;
  --hamburger-space: 4px;

  position: absolute;
  top: calc(var(--logo-height) / 2);
  right: var(--page-gutter);
  width: var(--hamburger-width);
  height: calc(var(--hamburger-bar-height) * 3 + var(--hamburger-space) * 2);
  transform: translateY(-50%);
  cursor: pointer;
}

@media (min-width: 1024px) {
  .app-header__nav-trigger {
    display: none;
  }
}

.hamburger-icon {
  position: relative;
  top: calc(var(--hamburger-bar-height) + var(--hamburger-space));
  width: var(--hamburger-width);
  height: var(--hamburger-bar-height);
  border-radius: var(--hamburger-bar-height);
  transition-property: transform;
  transition-timing-function: cubic-bezier(.55, .055, .675, .19);
  transition-duration: 220ms;
  font-size: 0;
  line-height: 0;
  background-color: var(--color-white);
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: '';
  position: absolute;
  width: var(--hamburger-width);
  height: var(--hamburger-bar-height);
  border-radius: var(--hamburger-bar-height);
  background-color: var(--color-white);
}

.hamburger-icon::before {
  top: calc(-1 * (var(--hamburger-bar-height) + var(--hamburger-space)));
}

.hamburger-icon::after {
  top: calc(var(--hamburger-bar-height) + var(--hamburger-space));
}
