// Site Footer sample component styles.
//
// No styleguide reference.

.site-footer {
  padding: $page-gutter;
  color: $color-neutral-100;
  background-color: $color-neutral-20;

  p {
    margin: 0;
  }
}
