/* -- Page Loader Styles -- */

.main-content__wrapper {
  position: relative;
}

iframe {
  margin-bottom: var(--page-gutter, 2rem);
  width: 100%;
  min-height: calc(100vh - var(--title-bar-height, 58px) - var(--page-gutter, 2rem) * 2 - var(--page-padding, 1.4rem) * 2 - var(--font-line-height-x-large, 40px) - var(--font-line-height-normal, 24px) * 1.75);
  border: 1px solid var(--color-neutral-80, #ccc);
}

.component-loader__buttons {
  position: absolute;
  top: calc(var(--page-gutter, 2rem) / 4 + 1px);
}

.component-loader__maximize-button,
.component-loader__open-button {
  height: calc(var(--page-gutter, 2rem) * .75);
  border: 1px solid var(--color-neutral-80, #ccc);
  border-bottom-width: 0;
  font-weight: var(--font-weight-bold, 700);
  color: var(--color-black, #111);
  background-color: var(--color-neutral-80, #ccc);
  cursor: pointer;
  outline: none;
}

.component-loader__maximize-button:hover,
.component-loader__open-button:hover {
  color: var(--color-white, #fff);
  background-color: var(--color-brand-primary, #363669);
}

.maximize .component-loader__buttons {
  position: fixed;
  z-index: 101;
  left: var(--page-gutter, 2rem);
}

.maximize .component-loader__maximize-button:hover,
.component-loader__open-button:hover {
  border-color: var(--color-brand-primary, #363669);
}

.maximize .iframe-wrapper {
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  padding: var(--page-gutter, 2rem);
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
}

.maximize iframe {
  height: 100%;
  border: 0;
}

@media (min-width: 740px) {
  .iframe-wrapper {
    display: flex;
  }
}
