/* -- Form List Styles -- */

.form-list__group-heading {
  font-family: var(--font-family-body, 'Hind Guntur');
  font-size: var(--font-size-large, 24px);
  line-height: var(--font-line-height-large, 33px);
}

@media (min-width: 720px) {
  .form-list {
    display: flex;
    flex-wrap: wrap;
  }

  .form-list__group {
    flex: 0 0 calc(50% - var(--page-gutter, 2rem) / 2);
  }

  .form-list__group:nth-child(odd) {
    margin-right: calc(var(--page-gutter, 2rem));
  }
}
