<div #wrapper class="form-list rpl-user-styles">
  <div class="form-list__group">
    <h3 class="form-list__group-heading">Text Input</h3>

    <div class="form-fields">
      <div class="form-field">
        <label for="text-box">Text Box Label</label>
        <input id="text-box" type="text" placeholder="Placeholder text">
        <input type="text" disabled="disabled" value="Disabled">
        <input type="text" class="invalid" value="Invalid input">
        <span class="validation-error">An error has occurred.</span>
      </div>

      <div class="form-field">
        <label for="multiline-text-box">Multi-line Text Box Label</label>
        <textarea id="multiline-text-box"
          cols="30"
          rows="5"
          placeholder="Placeholder text"></textarea>
        <textarea disabled cols="30" rows="5">Disabled</textarea>
        <textarea class="invalid" cols="30" rows="5">Invalid input</textarea>
        <span class="validation-error">An error has occurred.</span>
      </div>
    </div>
  </div>

  <div class="form-list__group">
    <h3 class="form-list__group-heading">Selection</h3>

    <div class="form-fields">
      <div class="form-field">
        <label for="drop-down">Drop-down Box Label</label>
        <select id="drop-down">
          <option>-- Select an option --</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>

        <select disabled>
          <option>-- Select an option --</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>

        <select class="invalid">
          <option>-- Select an option --</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
        <span class="validation-error">This field is required.</span>
      </div>

      <div class="form-field">
        <div class="form-field-checkbox">
          <input type="checkbox" id="checkbox-checked" checked>
          <label for="checkbox-checked">Check box checked</label>
        </div>

        <div class="form-field-checkbox">
          <input type="checkbox" id="checkbox-unchecked">
          <label for="checkbox-unchecked">Check box unchecked</label>
        </div>

        <div class="form-field-checkbox">
          <input type="checkbox" id="checkbox-Disabled" checked disabled>
          <label for="checkbox-Disabled">Check box disabled and checked</label>
        </div>

        <div class="form-field-checkbox">
          <input type="checkbox" id="checkbox-Disabled" disabled>
          <label for="checkbox-Disabled">Check box disabled</label>
          <div class="validation-error">An error has occurred.</div>
        </div>
      </div>

      <div class="form-field">
        <div class="form-field-radio">
          <input type="radio" id="radio-checked" name="radio" checked>
          <label for="radio-checked">Radio button checked</label>
        </div>

        <div class="form-field-radio">
          <input type="radio" id="radio-unchecked" name="radio">
          <label for="radio-unchecked">Radio button unchecked</label>
        </div>

        <div class="form-field-radio">
          <input type="radio" id="radio-Disabled" checked disabled>
          <label for="radio-Disabled">Radio button disabled and checked</label>
        </div>

        <div class="form-field-radio">
          <input type="radio" id="radio-Disabled" disabled>
          <label for="radio-Disabled">Radio button disabled</label>
          <div class="validation-error">An error has occurred.</div>
        </div>
      </div>
    </div>
  </div>
</div>
