<!--
Name: Call-out
Summary: A simple call-out with a heading and content. This example uses a
         Link List component for its content and has dependencies on an SVG
         image and an HTML file that includes JavaScript for setting the header
         text. Additionally, it has explicitly defined default width and height
         dimensions to better represent its usage on a page.
Depends: dependencies/icons.svg,
         dependencies/header-data.html
DefaultDims: 100%
-->
<div class="callout">
  <h3 class="callout-heading">
    <!-- This SVG is referencing a shared resource -->
    <svg width="24" height="24">
      <use xlink:href="#svg-icon-chain-link"></use>
    </svg>

    <!-- This heading text is replaced by a shared resource -->
    <span class="callout-heading-text">A List of Links</span>
  </h3>

  <div class="callout-content">
    <!-- build:include link-list.html --><!-- /build -->
  </div>
</div>
