<!--
Name: Site Header
Summary: The Site Header appears at the top of every page. It includes the
         company name which links to the homepage. The company name can be
         centered and the banner can be made larger by applying the appropriate
         classes.
Options: [
  { "name": "Align Center", "value": "site-header--centered", "attr": "class" },
  { "name": "Large Header", "value": "site-header--large", "attr": "class" }
]
-->

<!--
  Optional Classes
  ----------------
  * site-header--centered: Centers the company name.
  * site-header--large: Increases the height of the header.
-->
<section class="site-header">
  <div class="content-wrapper">
    <h1><a href="/index.html">Company Name</a></h1>
  </div>
</section>
