// Button styles.
//
// No styleguide reference.

$button-height: 2.5rem;
$button-border-radius: 4px;

button,
.button,
[type=button],
[type=submit] {
	box-sizing: border-box;
	display: inline-block;
	padding: 0 $button-height / 2.5;
	height: $button-height;
	border: 0;
	border-radius: $button-border-radius;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	line-height: $button-height;
	color: $color-neutral-100;
	background-color: $color-brand-secondary-70;
	transition: background-color 150ms ease-in-out;
	filter: drop-shadow(3px 3px 6px $color-neutral);
	cursor: pointer;

	&:hover,
	&.hovered {
		background-color: $color-brand-secondary;
	}

	&:focus,
	&.focused {
		outline: none;
		box-shadow: 0 0 0 $button-height / 12.5 $color-brand-secondary;
	}

	&.primary {
		background-color: $color-brand-primary-65;
	}

	&.primary:hover {
		background-color: $color-brand-primary;
	}

	&.warn {
		background-color: $color-utility-warn;
	}

	&.warn:hover {
		background-color: $color-utility-warn-90;
	}

	&.large {
		min-width: 8rem;
		height: $button-height * 1.25;
		font-size: $font-size-large;
		line-height: $button-height * 1.25;
	}

	&.small {
		height: $button-height * .8;
		line-height: $button-height * .8;
	}

	&[disabled],
	&.disabled {
		background-color: $color-neutral;
		filter: none;
		cursor: not-allowed;
	}
}
