// Call-outs.
//
// No styleguide reference.

// Basic call-out.
.callout {
  padding: $page-padding;
  color: $color-neutral-0;
  background-color: $color-brand-secondary-95;

  a {
    color: $color-brand-primary;
  }
}
