// Form styles.
//
// No styleguide reference.

// Vars.
$form-field-height: 2.4rem;
$form-field-border-radius: .25rem;

// Mixins.
@mixin form-field-shared() {
	box-sizing: border-box;
	display: block;
	margin-bottom: 1rem;
	padding: $form-field-height / 6;
	width: 100%;
	max-width: 30em;
	border: 1px solid $color-neutral-80;
	border-radius: $form-field-border-radius;
	font-family: inherit;
	font-size: $font-size-normal;
	color: $color-neutral-0;
	background-color: $color-neutral-100;

	&:disabled,
	&.disabled {
		background-color: $color-neutral-95;
		cursor: not-allowed;
	}

	&.invalid {
		border-color: $color-utility-error;
		color: $color-utility-error;

		&:focus,
		&.focused {
			box-shadow: 0 0 0 .25rem $color-utility-error;
		}
	}
}

// Text boxes.
[type=date],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week] {
	@include form-field-shared;
	height: $form-field-height;
}

textarea {
	@include form-field-shared;
}

// Selection
select {
	@include form-field-shared;
	-moz-appearance: none;
	-webkit-appearance: none;
	padding-right: 1.5rem;
	height: $form-field-height;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="16" height="12" viewBox="0 0 16 12"><polygon points="0,0 16,0 8,12" style="fill: rgb(75, 75, 75)"></polygon></svg>');
	background-size: 10.5px 7px;
	background-position: right .5rem center;
	background-repeat: no-repeat;

	&[disabled] {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="16" height="12" viewBox="0 0 16 12"><polygon points="0,0 16,0 8,12" style="fill: rgb(150, 150, 150)"></polygon></svg>');
	}

	&[size] {
		height: auto;
	}
}

// Check boxes and radio buttons.
.form-field-checkbox,
.form-field-radio {
	position: relative;
}

[type=checkbox],
[type=radio] {
	position: relative;
	z-index: 1;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: $form-field-height / 2;
	height: $form-field-height / 2;
	visibility: hidden;

	+ label {
		vertical-align: top;
		line-height: $form-field-height / 2;

		&::before {
			content: '';
			box-sizing: border-box;
			position: absolute;
			top: 0;
			left: 0;
			width: $form-field-height / 1.92;
			height: $form-field-height / 1.92;
			border: 1px solid $color-neutral-80;
			background-color: $color-neutral-100;
			cursor: pointer;
			transition: background-color 100ms ease-in, border-color 100ms ease-in;
		}

		&::after {
			content: '';
			position: absolute;
			opacity: 0;
		}
	}

	&:checked + label {
		&::after {
			opacity: 1;
		}
	}

	&:disabled + label,
	&.disabled + label {
		cursor: default;

		&::before,
		&::after {
			cursor: not-allowed;
		}

		&::before {
			background-color: $color-neutral-95;
		}
	}

	&:checked:disabled + label,
	&:checked.disabled + label {
		&::before {
			background-color: $color-neutral-80;
		}
	}
}

[type=checkbox] {
	+ label {
		&::before {
			border-radius: $form-field-border-radius;
		}

		&::after {
			top: $form-field-height / 7.68;
			left: $form-field-height / 9.6;
			width: $form-field-height * .24;
			height: $form-field-height / 9.6;
			border: 3px solid $color-neutral-100;
			border-top: 0;
			border-right: 0;
			transform: rotate(-45deg);
			background: transparent;
		}
	}

	&:checked + label {
		&::before {
			border-color: $color-brand-secondary;
			background-color: $color-brand-secondary;
		}
	}

	&:disabled + label,
	&.disabled + label {
		&::before {
			background-color: $color-neutral-95;
		}
	}

	&:checked:disabled + label,
	&:checked.disabled + label {
		&::before {
			border-color: $color-neutral-80;
			background-color: $color-neutral-80;
		}
	}
}

[type=radio] {
	+ label {
		&::before {
			border-radius: 50%;
		}

		&::after {
			top: $form-field-height / 3.84;
			left: $form-field-height / 3.84;
			width: 0;
			height: 0;
			border-radius: 50%;
			background-color: $color-brand-secondary;
			opacity: 0;
			transition-property: top, left, width, height, opacity;
			transition-duration: 150ms;
			transition-timing-function: ease-in;
		}
	}

	&:checked + label {
		&::after {
			top: $form-field-height / 9.6;
			left: $form-field-height / 9.6;
			width: $form-field-height / 3.2;
			height: $form-field-height / 3.2;
			opacity: 1;
		}
	}

	&:checked:disabled + label,
	&:checked.disabled + label {
		&::after {
			background-color: $color-neutral;
		}
	}
}

// Form layouts.
.form-field {
	margin-bottom: $page-gutter;
}

// Validation.
.form-field {
	.validation-error {
		display: block;
		margin-top: -.5rem;
		font-size: $font-size-small;
		color: $color-utility-error;
	}
}

.form-field-checkbox,
.form-field-radio {
	.validation-error {
		margin-top: 0;
	}
}

// Misc.
label {
	display: block;
	margin-bottom: .25rem;
	cursor: pointer;
}

[type=checkbox],
[type=radio] {
	& + label {
		display: inline-block;
	}
}
