// Layout and grids.
//
// No styleguide reference.

// Page layout
.page-wrapper {
  display: grid;
  grid-template-rows: min-content min-content auto min-content;
  position: relative;
  box-sizing: border-box;
  min-height: 100%;

  .site-footer {
    box-sizing: border-box;
  }
}

// Main content
.page-body {
  margin: $page-gutter 0;
  padding-right: $page-gutter;
  padding-left: $page-gutter;
  max-width: $page-max-width;
}

.main-content {
  margin-bottom: $page-gutter;
}

// Sidebar on right for larger viewports
@media (min-width: $page-size-medium) {
  .page-body {
    display: grid;
    grid-template-columns: minmax(min-content, 100vw) 250px;
    grid-gap: $page-gutter;
    justify-self: center;
  }

  .main-content {
    margin-bottom: 0;
  }
}

@media (min-width: $page-size-large) {
  .page-body {
    grid-template-columns: minmax(min-content, 100vw) 350px;
  }
}

// Limit width of wrapped content
.content-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $page-max-width;
}
