// Resets
//
// No styleguide reference.

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: .75rem;
}

p,
ul,
ol,
dl,
table {
	margin-top: 0;
	margin-bottom: 1rem;
}

*:focus,
*.focused {
	outline: 0;
	box-shadow: 0 0 0 .25rem $color-brand-secondary;
}
