// Site Header component styles.
//
// No styleguide reference.

.site-header {
	padding: $page-gutter;
	color: $color-neutral-100;
	background-color: $color-brand-primary;

	h1 {
		margin: 0;
		font-size: $font-size-x-large;
		font-weight: $font-weight-normal;
		line-height: $line-height-x-large;
	}

	a {
		text-decoration: none;
		color: $color-neutral-100;
	}
}
