// Thumbnail Grid sample component styles.
//
// No styleguide reference.

.thumbnail-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $page-gutter;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @media (min-width: $page-size-small) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $page-size-medium) {
    grid-template-columns: repeat(4, 1fr);
  }
}
