<div #wrapper class="button-list">
  <div class="button-list__type button-type-style">
    <h3 class="button-list__group-heading">Style</h3>

    <div class="button-list__group">
      <div class="button-list__item">
        <a href="#" class="button primary">Primary</a>
        <span class="button-list__metadata">.button.primary</span>
      </div>

      <div class="button-list__item">
        <a href="#" class="button">Default</a>
        <span class="button-list__metadata">.button</span>
      </div>

      <div class="button-list__item">
        <a href="#" class="button warn">Warning</a>
        <span class="button-list__metadata">.button.warn</span>
      </div>
    </div>
  </div>

  <div class="button-list__type button-type-size">
    <h3 class="button-list__group-heading">Size</h3>

    <div class="button-list__group">
      <div class="button-list__item">
        <a href="#" class="button large">Large</a>
        <span class="button-list__metadata">.button.large</span>
      </div>

      <div class="button-list__item">
        <a href="#" class="button">Default</a>
        <span class="button-list__metadata">.button</span>
      </div>

      <div class="button-list__item">
        <a href="#" class="button small">Small</a>
        <span class="button-list__metadata">.button.small</span>
      </div>
    </div>
  </div>

  <div class="button-list__type button-type-state">
    <h3 class="button-list__group-heading">State</h3>

    <div class="button-list__group">
      <div class="button-list__item">
        <a href="#" class="button">Default</a>
      </div>

      <div class="button-list__item">
        <a href="#" class="button hovered">Hover</a>
      </div>

      <div class="button-list__item">
        <a href="#" class="button focused">Focus</a>
      </div>

      <div class="button-list__item">
        <a href="#" class="button disabled">Disabled</a>
      </div>
    </div>
  </div>
</div>
