/* -- Button List Styles -- */

.button-list__group {
  display: flex;
  flex-wrap: wrap;
}

.button-list__group-heading {
  font-size: var(--font-size-large);
  line-height: var(--font-line-height-large);
}

.button-list__item {
  margin-bottom: var(--page-gutter);
}

.button-list__item:not(:last-child) {
  margin-right: var(--page-padding);
}

.button-list__metadata {
  display: block;
  margin-top: calc(var(--font-line-height-x-small) / 2);
  font-size: var(--font-size-x-small);
  color: var(--color-neutral-45);
}
