<div #wrapper [class]="wrapperCssClass">
  <div class="button-list__type button-type-style">
    <h3 class="button-list__group-heading">Style</h3>

    <div class="button-list__group">
      <app-button-list-item cssClasses="button primary">Primary</app-button-list-item>
      <app-button-list-item cssClasses="button">Default</app-button-list-item>
      <app-button-list-item cssClasses="button warn">Warning</app-button-list-item>
    </div>
  </div>

  <div class="button-list__type button-type-size">
    <h3 class="button-list__group-heading">Size</h3>

    <div class="button-list__group">
      <app-button-list-item cssClasses="button large">Large</app-button-list-item>
      <app-button-list-item cssClasses="button">Default</app-button-list-item>
      <app-button-list-item cssClasses="button small">Small</app-button-list-item>
    </div>
  </div>

  <div class="button-list__type button-type-state">
    <h3 class="button-list__group-heading">State</h3>

    <div class="button-list__group">
      <app-button-list-item cssClasses="button">Default</app-button-list-item>
      <app-button-list-item cssClasses="button hovered">Hover</app-button-list-item>
      <app-button-list-item cssClasses="button focused">Focus</app-button-list-item>
      <app-button-list-item cssClasses="button disabled">Disabled</app-button-list-item>
    </div>
  </div>
</div>
