/* -- Button List Styles -- */

.button-list__group {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.button-list__group-heading {
  font-family: var(--font-family-body, 'Hind Guntur');
  font-size: var(--font-size-large, 24px);
  line-height: var(--font-line-height-large, 33px);
}

app-button-list-item:not(:last-child) {
  margin-right: var(--page-padding, 1.4rem);
}

/* Large viewport */
@media (min-width: 720px) {
  .button-list {
    display: flex;
    flex-wrap: wrap;
  }

  .button-list__type {
    flex: 0 0 calc(50% - var(--page-gutter, 2rem));
  }

  .button-list__type:nth-child(odd) {
    margin-right: calc(var(--page-gutter, 2rem) * 2);
  }
}
