<app-page-header groupName="Pages" heading="{{heading}}"
  description="{{description}}"></app-page-header>

<section [ngClass]="{
    'main-content': true,
    'component-loader': true,
    'maximize': iframeIsMaximized
  }">
  <div class="main-content__wrapper">
    <div class="component-loader__buttons">
      <button class="component-loader__maximize-button"
        (click)="toggleMaximize()">{{maximizeText}}</button>
      <button class="component-loader__open-button"
        (click)="openPage()">Open Page</button>
    </div>

    <div class="iframe-wrapper">
      <iframe [src]="pageUri | safeUri" frameborder="0"></iframe>
    </div>
  </div>
</section>
