/* -- Footer Styles -- */

.app-footer {
  border-top: 1px solid var(--color-neutral-85);
}

.app-footer::before {
  content: '';
  clear: both;
  display: block;
  padding-top: var(--page-gutter);
}

.app-footer__wrapper {
  margin: 0 auto;
  padding: 0 var(--page-padding) var(--page-gutter);
  max-width: var(--page-max-width);
  font-size: var(--font-size-small);
  color: var(--color-neutral-45);
}

.app-footer p {
  margin: 0;
}

.app-footer a {
  color: var(--color-brand-primary);
}
