<div #wrapper [class]="wrapperCssClass">
  <div *ngFor="let webComponent of webComponents"
    [urlFragmentId]="webComponent.id"
    class="component-item">
    <header class="component-item__header">
      <h3 class="component-item__heading">{{webComponent.name}}</h3>
      <p class="component-item__summary">{{webComponent.summary}}</p>
    </header>

    <div class="component-item__wrapper">
      <div class="component-item__demo-wrapper">
        <h4 class="component-item__subheading">Demo</h4>

        <div class="component-item__demo-render rpl-user-styles">
          <app-component-item
            [html]="webComponent.demoHtml | safeHtml"></app-component-item>
        </div>
      </div>

      <div class="component-item__html-wrapper">
        <h4 class="component-item__subheading">HTML</h4>

        <div class="component-item__html-content">
          <app-prism language="html">{{webComponent.html}}</app-prism>
        </div>
      </div>
    </div>
  </div>
</div>
