/* -- Component List Styles -- */

.component-item {
  margin-bottom: calc(var(--page-gutter, 2rem) * 2);
}

.component-item__demo-wrapper {
  margin-bottom: var(--page-padding, 1.4rem);
}

.component-item .component-item__heading,
.component-item .component-item__summary,
.component-item .component-item__subheading {
  margin: 0 0 1rem;
  padding: 0;
  font: var(--font-size-normal, 16px)/var(--font-line-height-normal, 24px) var(--font-family-body, 'Hind Guntur');
}

.component-item .component-item__heading {
  margin-bottom: .5rem;
  font-size: var(--font-size-large, 24px);
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--font-line-height-large, 33px);
}

.component-item .component-item__subheading {
  margin-bottom: .25rem;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold, 700);
}

/* Large viewport */
@media (min-width: 720px) {
  :host {
    display: flex;
  }

  .component-list {
    flex-basis: 100%;
  }
}
