/* -- Global Pattern Library Styles -- */

:root {
  /* Layout */
  --page-max-width: 1120px;
  --page-min-width: 320px;
  --page-desktop-width: 1024px;
  --page-gutter: 2rem;
  --page-padding: 1.4rem;
  --spacer: 1rem;

  /* Config */
  --title-bar-height: 58px;
  --logo-top-offset: 0px;
  --logo-left-offset: 0px;
  --logo-width: 75px;
  --logo-height: 75px;

  /* Colors */
  --color-brand-primary: #363669;
  --color-brand-primary-50: #5c5c99;

  --color-neutral-05: #111;
  --color-neutral-45: #777;
  --color-neutral-80: #ccc;
  --color-neutral-85: #e4e4e4;
  --color-neutral-95: #eee;
  --color-neutral-97: #f7f7f7;
  --color-neutral-100: #fff;

  /* Color Aliases */
  --color-black: var(--color-neutral-05);
  --color-white: var(--color-neutral-100);

  /* Element/component Colors */
  --color-body: var(--color-black, #111);
  --bg-color-body: var(--color-white, #fff);

  --color-links: var(--color-brand-primary-50, #5c5c99);
  --color-text-light: var(--color-neutral-45, #777);

  --color-divider: var(--color-neutral-80, #ccc);

  --color-page-header: var(--color-neutral-45, #777);
  --bg-color-page-header: var(--color-neutral-97, #f7f7f7);
  --color-page-header-heading: var(--color-brand-primary, #363669);

  --color-component: var(--color-body, #111);
  --bg-color-component: var(--color-neutral-95, #eee);

  --color-nav: var(--color-brand-primary, #363669);
  --color-nav-light: var(--color-brand-primary-50, #5c5c99);
  --bg-color-nav: var(--color-neutral-95, #eee);

  /* Fonts */
  --font-family-body: 'Hind Guntur';
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --font-family-header: 'Catamaran';
  --font-weight-header-bold: 800;

  --font-size-x-small: 12px;
  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-increased: 20px;
  --font-size-large: 24px;
  --font-size-x-large: 32px;

  --font-line-height-x-small: 20px;
  --font-line-height-small: 20px;
  --font-line-height-normal: 24px;
  --font-line-height-increased: 32px;
  --font-line-height-large: 33px;
  --font-line-height-x-large: 40px;

  /* Hamburger menu */
  --hamburger-width: 26px;
  --hamburger-bar-height: 5px;
  --hamburger-space: 4px;
}

/* General RPL Styles */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font: var(--font-size-normal)/var(--font-line-height-normal) var(--font-family-body);
  color: var(--color-body);
  background-color: var(--bg-color-body);
  tab-size: 4;
}

a {
  color: var(--color-links);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-header);
}

h2 {
  font-size: var(--font-size-x-large);
  line-height: var(--font-line-height-x-large);
}

h3 {
  font-size: var(--font-size-large);
  line-height: var(--font-line-height-large);
}

hr {
  margin: var(--page-gutter) 0;
  border: 0;
  height: 1px;
  background-color: var(--color-neutral-80);
}

img,
video,
iframe {
  max-width: 100%;
  height: auto;
}

pre {
  max-height: 75vh;
  overflow: auto;
}

figure {
  margin: 0 0 1em;
}

figcaption {
  margin-top: 1em;
  font-size: .8em;
  font-style: italic;
  color: var(--color-neutral-45, #777);
}

/* Layout Options */
.rpl-col-auto {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--page-gutter, 2rem) * -1);
}

.rpl-col-auto > * {
  margin-left: var(--page-gutter, 2rem);
}

@media (min-width: 768px)
{
  .rpl-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--page-gutter, 2rem);
  }
}

/* Documentation */
.rpl-note {
  margin-bottom: var(--spacer);
  padding: var(--spacer);
  border: 1px solid var(--color-neutral-80);
  background-color: var(--color-neutral-97);
}

.rpl-note > :first-child {
  margin-top: 0;
}

.rpl-note > :last-child {
  margin-bottom: 0;
}

.rpl-table {
  border-collapse: collapse;
}

.rpl-table th {
  padding: var(--spacer);
  vertical-align: top;
  text-align: left;
  font-weight: var(--font-weight-bold);
}

.rpl-table td {
  padding: var(--spacer);
  border-right: 1px solid var(--color-neutral-80);
  vertical-align: top;
}

.rpl-table td:last-child {
  border-right: 0;
}

.rpl-table thead th {
  border-bottom: 1px solid var(--color-neutral-80);
}

.rpl-table tbody tr:first-child td {
  padding-top: var(--spacer);
}

/* Main Content */
.main-content__wrapper {
  margin: 0 auto;
  padding: var(--page-gutter) var(--page-gutter) 0;
  max-width: var(--page-max-width);
}

@media (min-width: 1024px) {
  .nav-is-expanded .main-content__wrapper {
    padding-right: calc(var(--page-min-width) + var(--page-gutter) * 2);
    max-width: calc(var(--page-max-width) - var(--page-min-width) - var(--page-gutter));
  }
}
