<app-page-header heading="Components"
  description="Smaller elements and styles combine to form components."></app-page-header>

<section class="main-content components">
  <div class="main-content__wrapper">
    <app-page-content>
      <p>A component is a combination of basic elements. It is combined with other components to create a web page. For example, this page makes use of header, navigation, and footer components.</p>
      <p>Each component should be self-contained and reusable.</p>
    </app-page-content>
  </div>
</section>
