/* Add your custom style modifications here */

/* Example: Uncomment below for a dark themed pattern library */

/* :root {
  --color-body: #fff;
  --bg-color-body: #222;
  --color-links: #8484c3;
  --color-text-light: #ddd;

  --color-divider: #555;

  --color-page-header: #ddd;
  --bg-color-page-header: #111;
  --color-page-header-heading: #9797d4;

  --bg-color-component: #333;

  --color-nav: #8484c3;
  --color-nav-light: #9797d4;
  --bg-color-nav: #171717;
} */
