/* -- Style Resets -- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: bold;
  line-height: inherit;
  color: inherit;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

h2 {
  margin: .83em 0;
  font-size: 1.5em;
}

h3 {
  margin: 1em 0;
  font-size: 1.17em;
}

p {
  font: inherit;
  line-height: inherit;
  color: inherit;
}
