// Shared Variables

// Layout
$page-gutter: 2rem;
$page-padding: 1rem;
$page-max-width: 1200px;
$page-size-medium: 800px;
$page-size-large: 1024px;

// Color
$color-brand-primary: #cc4040;
$color-brand-primary-95: #f26161;
$color-brand-primary-65: #a62121;

$color-brand-secondary: #40cccc;
$color-brand-secondary-95: #daf2f2;
$color-brand-secondary-70: #2db3b3;

$color-accent-1: #80a22a;
$color-accent-2: #8030cc;
$color-accent-2-90: #9b4be6;

$color-utility-info: #2a72a2;
$color-utility-warn: #d99930;
$color-utility-warn-90: #eba839;
$color-utility-error: #cc4040;
$color-utility-success: #80a22a;

$color-neutral: #999;
$color-neutral-100: #fff;
$color-neutral-95: #f2f2f2;
$color-neutral-80: #ccc;
$color-neutral-20: #333;
$color-neutral-0: #000;

// Fonts
$font-family-sans-serif: 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
$font-family-monospace: 'SFMono-Regular', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

$font-family-headings: $font-family-sans-serif;
$font-family-body: $font-family-sans-serif;

$font-size-small: .75rem;
$font-size-normal: 1rem;
$font-size-large: 1.25rem;
$font-size-x-large: 2rem;

$font-weight-normal: 400;
$font-weight-bold: 700;

$line-height-normal: 1.4em;
$line-height-large: 1.6em;
$line-height-x-large: 1.25em;
