// Shared Variables

// Color
$color-brand-primary: #cc4040;
$color-brand-primary-95: #f26161;
$color-brand-primary-65: #a62121;

$color-brand-secondary: #40cccc;
$color-brand-secondary-95: #daf2f2;
$color-brand-secondary-70: #2db3b3;

$color-accent-1: #80a22a;

$color-utility-info: #2a72a2;
$color-utility-warn: #d99930;
$color-utility-warn-90: #eba839;
$color-utility-error: #cc4040;
$color-utility-success: #80a22a;

$color-neutral: #999;
$color-neutral-100: #fff;
$color-neutral-80: #ccc;
$color-neutral-20: #333;
$color-neutral-0: #000;

// Fonts
$font-size-large: 20px;
