<nav [ngClass]="navCssClasses">
  <div class="app-nav__wrapper" appStickySidebar>
    <div class="app-nav__inner">
        <header class="app-nav__header" (click)="toggleNav()">
          <h2>
            <div class="app-nav__trigger">
              <div class="hamburger-icon">Menu</div>
            </div>

            <span class="app-nav__heading">Navigation</span>
          </h2>
        </header>

        <ul class="app-nav__links">
          <li *ngFor="let navItem of navData" routerLinkActive="active">
            <a [routerLink]="[navItem.uri]"
              (click)="closeNavIfSmallViewport()">{{navItem.title}}</a>

            <ul *ngIf="navItem.children" class="app-nav__sublinks">
              <li *ngFor="let navChild of navItem.children" routerLinkActive="active">
                <a [routerLink]="[navChild.uri]"
                  (click)="closeNavIfSmallViewport()">{{navChild.title}}</a>

                <ul *ngIf="isComponentLink(navChild) && isActive(navChild.uri)"
                  class="app-nav__component-links">
                  <li *ngFor="let componentData of getComponentList(navChild)">
                    <a [routerLink]="[]"
                      [fragment]="componentData.uri"
                      (click)="closeNavIfSmallViewport()">{{componentData.title}}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
  </div>
</nav>
