<app-page-header heading="Base Styles"
  description="The basic building blocks of a web design."></app-page-header>

<section class="main-content typography">
    <div class="main-content__wrapper">
        <app-page-content>
          <p>All complex systems are composed of smaller units. At the most basic level of a web project, those units consist of fonts, colors, images, and other simplistic elements.</p>
          <p>These basic styles are combined to form components, which are then combined again to form pages.</p>
          <p>Use the menu to view details about the base styles used in this project.</p>
        </app-page-content>
    </div>
  </section>
