<div #wrapper>
  <div class="type-list type-list-headings">
    <div class="type-list__item">
      <header class="type-list__item-header">
        <strong class="type-list__item-heading">H1</strong>
        <span class="type-list__item-meta">{{headerMetadata[0]}}</span>
      </header>

      <h1 #h1>Grumpy wizards make a toxic brew for the jovial queen.</h1>
    </div>

    <div class="type-list__item">
      <header class="type-list__item-header">
        <strong class="type-list__item-heading">H2</strong>
        <span class="type-list__item-meta">{{headerMetadata[1]}}</span>
      </header>

      <h2 #h2>Grumpy wizards make a toxic brew for the jovial queen.</h2>
    </div>

    <div class="type-list__item">
      <header class="type-list__item-header">
        <strong class="type-list__item-heading">H3</strong>
        <span class="type-list__item-meta">{{headerMetadata[2]}}</span>
      </header>

      <h3 #h3>Grumpy wizards make a toxic brew for the jovial queen.</h3>
    </div>

    <div class="type-list__item">
      <header class="type-list__item-header">
        <strong class="type-list__item-heading">H4</strong>
        <span class="type-list__item-meta">{{headerMetadata[3]}}</span>
      </header>

      <h4 #h4>Grumpy wizards make a toxic brew for the jovial queen.</h4>
    </div>

    <div class="type-list__item">
      <header class="type-list__item-header">
        <strong class="type-list__item-heading">H5</strong>
        <span class="type-list__item-meta">{{headerMetadata[4]}}</span>
      </header>

      <h5 #h5>Grumpy wizards make a toxic brew for the jovial queen.</h5>
    </div>

    <div class="type-list__item">
      <header class="type-list__item-header">
        <strong class="type-list__item-heading">H6</strong>
        <span class="type-list__item-meta">{{headerMetadata[5]}}</span>
      </header>

      <h6 #h6>Grumpy wizards make a toxic brew for the jovial queen.</h6>
    </div>
  </div>

  <div class="type-list type-list-general">
    <div class="type-list__item">
      <header class="type-list__item-header">
        <strong class="type-list__item-heading">P</strong>
        <span class="type-list__item-meta">{{paragraphMetadata}}</span>
      </header>

      <p #p>Lorem ipsum dolor, sit amet <strong>consectetur adipisicing elit</strong>. Ipsam omnis eos ea <em>necessitatibus fugit</em> sint animi, hic ullam ipsum quos id <a href="#">odit consectetur ab minus tempora architecto</a>. Tempora similique dicta nemo aperiam obcaecati qui incidunt, <strong><em>neque vero expedita</em></strong>, dignissimos, dolorum nostrum rerum nam assumenda sapiente.</p>
    </div>

    <div class="type-list__item">
      <header class="type-list__item-header">
        <strong class="type-list__item-heading">BLOCKQUOTE</strong>
        <span class="type-list__item-meta">{{blockquoteMetadata}}</span>
      </header>

      <blockquote #blockquote>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat doloribus dolor vel inventore dolorum consequatur optio iusto magnam, quasi in explicabo quas deserunt. Ducimus, libero.</p>
        <footer>
          <p><cite>— Unknown Author</cite></p>
        </footer>
      </blockquote>
    </div>
  </div>

  <div class="type-list type-list-lists">
    <div class="type-list__item">
      <header class="type-list__item-header">
        <strong class="type-list__item-heading">UL</strong>
        <span class="type-list__item-meta">{{ulMetadata}}</span>
      </header>

      <ul #ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>Ea animi eos quas vel impedit, quisquam laboriosam?</li>
        <li>Sint deleniti quidem voluptate aliquid, ab impedit laudantium?</li>
      </ul>
    </div>

    <div class="type-list__item">
      <header class="type-list__item-header">
        <strong class="type-list__item-heading">OL</strong>
        <span class="type-list__item-meta">{{olMetadata}}</span>
      </header>

      <ol #ol>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>Ea animi eos quas vel impedit, quisquam laboriosam?</li>
        <li>Sint deleniti quidem voluptate aliquid, ab impedit laudantium?</li>
      </ol>
    </div>

    <div class="type-list__item">
      <header class="type-list__item-header">
        <strong class="type-list__item-heading">DL</strong>
        <span class="type-list__item-meta">{{dlMetadata}}</span>
      </header>

      <dl #dl>
        <dt>Lorem ipsum dolor sit amet.</dt>
        <dd>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, placeat!</dd>
        <dt>Assumenda atque cum eaque hic.</dt>
        <dd>Quae, distinctio! Sapiente quam ad amet omnis numquam repudiandae reprehenderit.</dd>
        <dt>Odit voluptatum natus nihil maxime.</dt>
        <dd>Aut facilis veniam nobis minus aperiam delectus enim autem explicabo.</dd>
      </dl>
    </div>
  </div>
</div>
