<div #wrapper *ngIf="stylesLoaded" [class]="wrapperCssClass">
  <!-- Headings -->
  <div class="type-list type-list-headings">
    <app-type-list-item heading="H1">
      <h1>Grumpy wizards make a toxic brew for the jovial queen.</h1>
    </app-type-list-item>

    <app-type-list-item heading="H2">
      <h2>Grumpy wizards make a toxic brew for the jovial queen.</h2>
    </app-type-list-item>

    <app-type-list-item heading="H3">
      <h3>Grumpy wizards make a toxic brew for the jovial queen.</h3>
    </app-type-list-item>

    <app-type-list-item heading="H4">
      <h4>Grumpy wizards make a toxic brew for the jovial queen.</h4>
    </app-type-list-item>

    <app-type-list-item heading="H5">
      <h5>Grumpy wizards make a toxic brew for the jovial queen.</h5>
    </app-type-list-item>

    <app-type-list-item heading="H6">
      <h6>Grumpy wizards make a toxic brew for the jovial queen.</h6>
    </app-type-list-item>
  </div>

  <!-- General Content -->
  <div class="type-list type-list-general">
    <app-type-list-item heading="P">
        <p>Lorem ipsum dolor, sit amet <strong>consectetur adipisicing elit</strong>. Ipsam omnis eos ea <em>necessitatibus fugit</em> sint animi, hic ullam ipsum quos id <a href="#">odit consectetur ab minus tempora architecto</a>. Tempora similique dicta nemo aperiam obcaecati qui incidunt, <strong><em>neque vero expedita</em></strong>, dignissimos, dolorum nostrum rerum nam assumenda sapiente.</p>
    </app-type-list-item>

    <app-type-list-item heading="BLOCKQUOTE">
      <blockquote>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat doloribus dolor vel inventore dolorum consequatur optio iusto magnam, quasi in explicabo quas deserunt. Ducimus, libero.</p>
        <footer>
          <p><cite>— Unknown Author</cite></p>
        </footer>
      </blockquote>
    </app-type-list-item>
  </div>

  <!-- Lists -->
  <div class="type-list type-list-lists">
    <app-type-list-item heading="UL">
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>Ea animi eos quas vel impedit, quisquam laboriosam?</li>
        <li>Sint deleniti quidem voluptate aliquid, ab impedit laudantium?</li>
      </ul>
    </app-type-list-item>

    <app-type-list-item heading="OL">
      <ol>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>Ea animi eos quas vel impedit, quisquam laboriosam?</li>
        <li>Sint deleniti quidem voluptate aliquid, ab impedit laudantium?</li>
      </ol>
    </app-type-list-item>

    <app-type-list-item heading="DL">
      <dl>
        <dt>Lorem ipsum dolor sit amet.</dt>
        <dd>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, placeat!</dd>
        <dt>Assumenda atque cum eaque hic.</dt>
        <dd>Quae, distinctio! Sapiente quam ad amet omnis numquam repudiandae reprehenderit.</dd>
        <dt>Odit voluptatum natus nihil maxime.</dt>
        <dd>Aut facilis veniam nobis minus aperiam delectus enim autem explicabo.</dd>
      </dl>
    </app-type-list-item>
  </div>
</div>
