/* -- Type List Styles -- */

/* Large Viewports */
@media (min-width: 1024px) {
  .type-list-headings,
  .type-list-general,
  .type-list-lists {
    display: flex;
    flex-wrap: wrap;
  }

  .type-list-headings app-type-list-item {
    flex: 0 0 calc(50% - var(--page-gutter, 2rem) / 2);
    width: 0;
  }

  .type-list-headings app-type-list-item:nth-child(odd) {
    margin-right: var(--page-gutter, 2rem);
  }

  .type-list-lists app-type-list-item {
    flex: 0 0 calc(33.333% - 2/3 * var(--page-gutter, 2rem));
    width: 0;
  }

  .type-list-lists app-type-list-item:not(:last-child) {
    margin-right: var(--page-gutter, 2rem);
  }
}
